body {
    padding: 20px;
}

.loading-indicator {
    position: fixed;
    left: 0;
    top: 0;
    background: #fc5;
    padding: 10px 5px;
}

.request-form {
    text-align: center;
}

.request-form fieldset {
    border: none;
    margin-bottom: 20px;
}

.request-form__input,
.request-form__button {
    padding: 5px 10px;
    font-size: 16px;
}

.request-form__button {
    background-color: rgba(255, 130, 0, 0.41);
    border: none;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    outline: none;
    font-size: 33px;
}

.request-form__button:active {
    box-shadow: 0px 0px 0px gray;
    margin-top: 2px;
    margin-left: 2px;
}

.request-form__input {
    margin-right: 30px;
    border: 1px solid rgba(162, 157, 152, 0.47);
    outline: none;
    padding: 5px;
    font-size: 33px;
}

.request-form__input.error {
    border: 2px solid red;
}

.recipe-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
}

.recipe-item {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    padding: 10px;
}

.recipe-item:nth-child(odd) {
    background-color: rgba(255, 228, 0, 0.22);
}

.recipe-item:nth-child(even) {
    background-color: rgba(255, 130, 0, 0.41);
}

.recipe-item:hover {
    background: #8ee891;
    cursor: pointer;
}

.recipe-item__title {

}