body {
    padding: 20px;
}

.request-form {
    text-align: center;
}

.request-form__input,
.request-form__button {
    padding: 5px 10px;
    font-size: 16px;
}

.request-form__input {

}

.recipe-wrapper {

}

.recipe-item {
    display: flex;
    padding: 5px;
}

.recipe-item:hover {
    background: #fc5;
    cursor: pointer;
}

.recipe-item:nth-child(2n) {
    background: #eee;
}

.recipe-item__id {
    color: #888;
    margin-right: 20px;
}

.recipe-item__title {

}