body {
    padding: 20px;
}

.loading-indicator {
    position: fixed;
    left: 0;
    top: 0;
    background: #fc5;
    padding: 10px 5px;
}

.request-form {
    text-align: center;
}

.request-form fieldset {
    border: none;
}

.request-form__input,
.request-form__button {
    padding: 5px 10px;
    font-size: 16px;
}

.request-form__input {

}

.recipe-wrapper {
    margin: 20px auto;
    width: 960px;
}

.recipe-item {
    display: flex;
    padding: 5px;
}

.recipe-item:nth-child(even) {
    background: #eee;
}

.recipe-item:hover {
    background: #fc5;
    cursor: pointer;
}

.recipe-item__title {

}

.selected-recipe-wrapper {
    background: #ffc;
}

.selected-recipe__item {
    padding: 20px;
}